* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.article {
  width: 90%;
  padding: 20px;

  display: flex;
  flex-direction: column;
}
.article-text {
  margin-bottom: 4px;
  /* justify-content: center; */
  display: flex;
  align-items: center;
}
.title {
  padding-bottom: 20px;
}

h2 {
  margin-top: 0px !important;
}

.approved {
  color: green;
}
.rejected {
  color: red;
}
.awaiting {
  color: orange;
}

.space-between-text {
  margin-left: 8px;
  max-width: 93%;
}

.article-outer {
  background-color: #262627;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  width: 100%;
  min-height: 230px;
  overflow: hidden;
  transition: background-position 0.7s ease;
  /* margin: 5px; */
  border: 1px solid #234869;
  /* border-radius: 5px; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.article-outer:hover {
  background-position: 60% 40%;
  transition: background-position 0.7s ease;
}

.rating-number {
  font-size: small;
  color: white;
  opacity: 1 !important;
}

.option-menu {
  width: 100%;
  background-color: rgba(35, 72, 121, 0.3);
  /* opacity: 0.5; */
  border-top: 1px solid #234869;
  border-left: 1px solid #234869;
  border-right: 1px solid #234869;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.article-and-options-container {
  width: 90%;
  margin-top: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  margin-bottom: 10px;
}
.article-and-options-container:hover {
  box-shadow: 0 0 10px rgba(235, 235, 235, 0.3);
}
.edit {
  color: grey;
}
.edit:hover {
  color: #275b88;
  cursor: pointer;
}

.edit:hover::after {
  content: attr(alt); /* Display the alt text on hover */
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.evidence-text {
  text-wrap: wrap;
  margin-left: 0 !important;
  margin-top: 10px;
}
.evidence {
  max-width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-field-container {
  width: 93%;
}
.edit-buttons {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.cancel-button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: #262627;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 10px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.update-evidence-button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(255 255 255 / 10%);
}
.cancel-button:hover,
.update-evidence-button:hover {
  cursor: pointer;
}

#result {
  color: white;
  padding-top: 10px;
  margin-left: -8px !important;
}
