.articles-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.article {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}
.article-text {
  margin-bottom: 4px;
  /* justify-content: center; */
  display: flex;
  align-items: center;
}
.title {
  padding-bottom: 20px;
}

h2 {
  margin-top: 0px !important;
}

.approved {
  color: green;
}
.rejected {
  color: red;
}
.awaiting {
  color: orange;
}

.space-between-text {
  margin-left: 8px;
}

.articles-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sorting-container {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.article-outer {
  background-color: #262627;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  transition: background-position 0.7s ease;
  margin: 5px;
  border: 2px solid rgb(255 255 255 / 5%);
  border-radius: 5px;
}
.article-outer:hover {
  background-position: 40% 40%;
  transition: background-position 0.7s ease;
  box-shadow: 0 0 10px rgba(235, 235, 235, 0.7);
}

.logout {
  position: absolute;
  top: 5%;
  right: 5%;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
.logout:hover {
  cursor: pointer;
  transform: scale(2);
}
