.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll !important;
}

.articles-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow-y: hidden !important;
}
.sorting-container {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  position: absolute;
  top: 5%;
  right: 5%;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
.logout:hover {
  cursor: pointer;
  transform: scale(2);
}
