.home-container {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}
.title-container {
  padding: 10px;
  /* background-color: #262627;
  border: 1px solid rgb(255 255 255 / 5%); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25vh;
}
.title-main {
  font-size: 48px;
}
.title-secondary {
  font-style: italic;
}

@keyframes animate {
  0% {
    opacity: 0.3;
    transform: translateX(2000px);
  }
  100% {
    opacity: 0.5;
    transform: translateX(0px);
  }
}
.books {
  animation: animate 50s linear infinite;
  z-index: -5;
}
.books-container {
  width: 98%;
  height: 98%;
  position: absolute;
  z-index: -5;
  overflow: hidden !important;
}

.books:nth-child(4) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 72%;
  left: 800px;
}
.books:nth-child(5) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 48%;
  left: 400px;
}
.books:nth-child(6) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 60%;
  left: 1200px;
}
.books:nth-child(7) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 88%;
  left: -500px;
}
.books:nth-child(8) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 20%;
  left: -500px;
}
.books:nth-child(9) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 35%;
  left: -200px;
}
.books:nth-child(10) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 60%;
  left: -1800px;
}
.books:nth-child(11) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 15%;
  left: -1200px;
}
.books:nth-child(12) {
  background-image: url("./images/book.png");
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  list-style: none;
  width: 50px;
  height: 100%;
  top: 76%;
  left: 5px;
}
